 .resume-section, .projects-section {
  padding: .5vw;
  width: 100vw;
  border-radius: .5rem;
}

.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.contact-section p{
  padding: .0625rem;
  font-size: 1rem;
}

.resume-section {
  height: auto;
  width: auto;
}

.project-image {
  height: auto;
  width: 20vw;
  border-radius: .5rem;
  border: .0625rem black solid;
}

.projects-images-section {
  display: flex;
  justify-content: space-evenly;
}

@media screen and (0 < width < 850px) {
  .project-image {
    width: 90vw;
  }
  .projects-images-section {
    flex-wrap: wrap;
  }
}
