.name-and-photo{
  background: var(--lightModeBackground);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main-image img{
  width: 25vw;
  border-radius: 100%;
  border: .2vw solid black;
}

.name {
  padding-top: 5vh;
  font-size: 2.5em;
}

@media screen and (0 < width < 700px) {
  .main-image img {
    width: 65vw;
  }

  .name{
    padding-top: 8vh;
    font-size: 2em;
  }

}