.image-slider-container {
  width: 50vw;
  background-color: var(--lightModeBox3);
  display: flex;
  flex-direction: column;
  border-radius: .5rem;
}

.slider {
  padding: 3vh;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.image {
  width: 35vw;
  height: 21vw;
  border-radius: .5rem;
}

.image-viewport {
  padding: 2rem;
}

.right-arrow, .left-arrow{
  align-self: center;
  font-size: 3rem;
  background-color: transparent;
  border: 2px dashed black;
  color: var(--button);
  border-radius: .75rem;
  z-index: 1;
  cursor: pointer;
}

.left-arrow:hover, .right-arrow:hover {
  border-style: solid;
}

@media screen and (0 < width < 850px) {
  .right-arrow, .left-arrow{
    position: absolute;
    top: 0%;
    z-index: 10;
    width:50%;
    height: 100%;
    opacity: 0;
  }

  .image-slider-container {
    width: 90vw;
  }

  .image-slider {
    width: 100vw;
  }

  .left-arrow {
    left: 0;
  }

  .right-arrow {
    right: 0;
  }
  
  .slider {
    position: relative;
    padding-top: 1rem;
  }

  .image-viewport {
    padding: 0;  
  }

  .image{
    width: 100%;
    height: 25vh;
  }

}