 .resume-section, .projects-section {
  padding: .5vw;
  width: 90vw;
  border-radius: .5rem;
}

.projects-section {
  background-color: var(--lightModeBox1);
}

.resume-section {
  background-color: var(--lightModeBox2);
  width: 50vw;
  display: flex;
  flex-direction: column;
}

.resume-section img {
  width: 30vw;
  border-radius: .5rem;
}

.resume-image{
  width: 30vw;
}

.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.contact-section p{
  padding: .0625rem;
  font-size: 1rem;
}

.project-image {
  height: auto;
  width: 20vw;
  border-radius: .5rem;
  border: .0625rem black solid;
}

.project-image:hover {
  transform: scale(1.05);
}

.projects-images-section {
  display: flex;
  justify-content: space-evenly;
}

@media screen and (0 < width < 900px) {
  .resume-section, .projects-section{
    width: 90vw;
  }

  .resume-section img {
    width: 85vw;
  }

  .project-image {
    width: 85vw;
  }

  .projects-images-section {
    flex-wrap: wrap;
  }
}
