.top-bar-container {
  z-index: 10;
}

.top-bar-container header {
  -webkit-backdrop-filter: brightness(.6) blur(12px) opacity(1);
  backdrop-filter: brightness(.6) blur(12px) opacity(1);
  position: fixed;
  width: 100vw;
  left: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0%;
}

.logo {
  padding: 0 1.2rem;
  cursor: pointer;
}

.light-mode-button {
  position: relative;
  right: 5%;
  font-family: "Arial", sans-serif;
  font-weight: 500;
  background-color: var(--lightModeButton);
  text-decoration: none;
  border-radius: 50px;
  cursor: pointer;
}

.nav__links {
  list-style: none;
  display: flex;
}

.nav__links li {
  padding: 0 .75rem;
}

nav ul{
  padding-inline-start: 0rem;
}

@media screen and (0 < width < 700px) {

  .logo {
    transform: scale(.8);
    padding: 0;
  }

  
  .light-mode-button{
    scale: .6;
    border-radius: 100%;
    width: 90px;
    height: 90px;
    font-size: 1rem;
    text-align: center;
  }
}