.goals-section, .hobbies-section, .projects-section, .default-container{
  width: 100%;
  height: fit-content;
  border-radius: 10px;
  box-shadow: 0 4px 5px 0 black, 0 6px 20px 0 black;
  background-color: #d9d9d9;
  padding: .5vw;
 /*background-position: center -100px;
  filter: blur(7px);*/
}

.default-container {
  width: 75vw;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5vh;
}

.apis{
  margin-top: 10vh;
  margin-bottom: 10vh;
}

.goals-section:hover, .hobbies-section:hover, .projects-section:hover, img:hover{
  transform: scale(1.02);
}

.secret-button {
  background: none;
  border: none;
  padding: 0;
  font-size: 1em;
  color: rgb(12, 134, 165);
  text-decoration: underline;
  cursor: pointer;
}

.grid-container-bottom{
  justify-self: center;
  grid-area: info-boxes;
  width: 65vw;
  padding: 5%;
  display: flex;
  justify-content: space-between;
  gap: 5vw;
}

@media screen and (0 < width < 1200px) {
  .grid-container-bottom{
    flex-wrap: wrap;
  }
}