/*------ Entire Site------*/

* {
  font-family: Arial, Helvetica, sans-serif;
  color: #000000;
  text-align: center;

}

html {
    display: table;
    margin: auto;
}

.name-and-photo{
  display: flex;
  flex-direction: column;
}

.page {
  margin: 50px;
  min-width: auto;
  max-width: 1200px;
  background-color: #ffffff
}

body {
  align-items: center;
  display: flex;
  background-color: #ffffff;
  place-items: center;
  width: auto;
  height: auto;
  display: table-cell;
  vertical-align: middle;
  height:100px;
}

a:hover{
  color: blue;
}

h1 {
  font-size: 2em;
}

h2{
  font-size: 2.25em;
}

p{
  font-size: 1.75em;
}

.larger-margin {
  padding: 50px;
  margin: 20px;
}


/*-----Name and Photo component------*/

.name-and-photo{
  display: flex;
  flex-direction: column;
  margin: auto;
}

.main-image img{
  height: auto;
  max-width: 50%;
  left: 5%;
  border-radius: 100%;
  border: 5px solid black;
}

.name {
  padding-top: 50px;
  font-size: 3em;
}

/*------Goals, Hobbies, Projects sections-------*/
.goals-section, .hobbies-section, .projects-section{
  padding: 20px;
  float: left;
  width: 100%;
  height: auto;
  margin: 10%;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 5px 0 black, 0 6px 20px 0 black;
  
}

.goals-section:hover, .hobbies-section:hover, .projects-section:hover, img:hover{
  transform: scale(1.02);
}

/*------ Containter used to layout Goals, Hobbies, and Projects-------*/

.grid-container-bottom{
  display: inline-grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: minmax(100px, auto);
  grid-column-gap: 10%;
}

@media screen and (0 < width < 1200px) {
  .grid-container-bottom{
    grid-template-columns: repeat(1, 1fr);
  }
}

/*-------Top Navigation Bar-------*/

.top-bar{
  position: fixed;
  z-index: 1;
  width: 83%;
  left: 0%;
  top: 0px;
  height: 50px;
  opacity: .9;

}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  top: 0px;
  padding: 10px 10%;
  background-color: #ffffff;
}

.logo {
  cursor: pointer;
}

.contact {
  font-family: "Arial", sans-serif;
  font-weight: 500;
  color: #ffffff;
  text-decoration: none;
}

.nav__links {
  list-style: none;
  display: flex;
}

.nav__links li {
  padding: 0px 20px;
}

.contact {
  padding: 9px 25px;
  background-color: rgb(12, 134, 165);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease 0s;
}

.contact:hover {
  background-color: rgba(12, 134, 165, 0.8);
}

@media screen and (0 < width < 800px) {

  header {
      height: 25px;
    }
  .icon {
    width: 30px;
    height: 30px;
  }

  .logo {
    scale: 50%;
  }

  .contact {
    scale: 70%;
  }

}

/*------Meme Slider-------*/

.slider {
  padding: 50px;
  position: relative;
  height: auto;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border:#000
}

.image {
  width: 1000px;
  height: 600px;
  border-radius: 10px;
}

.right-arrow{
  position: absolute;
  top: 50%;
  right: 10%;
  font-size: 3rem;
  color: #000;
  background-color: #ffffff;
  border-radius: 10px;
  opacity: .75;
  z-index: 1;
  cursor: pointer;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 10%;
  font-size: 3rem;
  color: #000;
  background-color: #ffffff;
  border-radius: 10px;
  opacity: .75;
  z-index: 1;
  cursor: pointer;
}

.left-arrow:hover, .right-arrow:hover {
  background-color: rgb(156, 184, 235);
}

@media screen and (0 < width < 1000px) {

  .image {
      width: 500px;
      height: 300px;
      border-radius: 10px;
    }

  .right-arrow {
    position: absolute;
    top: 50%;
    right: 15%;
    font-size: 2rem;
    color: #000;
    background-color: #ffffff;
    border-radius: 10px;
    opacity: .75;
    z-index: 1;
    cursor: pointer;
  }

  .left-arrow {
    position: absolute;
    top: 50%;
    left: 15%;
    font-size: 2rem;
    color: #000;
    background-color: #ffffff;
    border-radius: 10px;
    opacity: .75;
    z-index: 1;
    cursor: pointer;
  }

  .left-arrow:hover,
  .right-arrow:hover {
    background-color: rgb(156, 184, 235);
  }
}

