* {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  --lightModeBackground: #cfcfcf;
  --lightModeBox1: #a3a3a3;
  --lightModeBox2: #e6e6e6;
  --lightModeBox3: #ffffff;
  --darkModeBackground: #171f2a;
  --darkModeBox1: #334f48;
  --darkModeBox2: #5d8883;
  --darkModeBox3: #9fccc6;
  --lightModeButton: #b9b9b9;
  --lightModeButtonHover: #a5a5a5;
  --darkModeButton: #7a7a7a;
  --darkModeButtonHover: #a5a5a5;

  overflow-x: hidden;
}

/*----------Dark / Light Mode ------->*/
.dark {
  background-color: var(--darkModeBackground);
  color: white;

  .top-bar-container header {
    background-color: var(--darkModeBox);
  }
  
  .name-and-photo {
    background-color: var(--darkModeBackground);
  }

  .projects-section {
    background-color: var(--darkModeBox3);
  }

  .resume-section {
    background-color: var(--darkModeBox2);
  }

  .default-container {
    background-color: var(--darkModeBox2);
  }

  .image-slider-container {
    background-color: var(--darkModeBox1);
  }

  .light-mode-button {
    filter: invert(0%);
  }

  .side-bar a, .logo {
    filter: invert(100%);
  }
}

.light {
  background-color: var(--lightModeBackground);
  color: #000000;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.standard-button{
  display: flex;
  justify-content: center;
}

.standard-button button {
  border: 2px dashed rgb(0, 0, 0);
  background-color: transparent;
  border-radius: .5rem;
  font-weight: bolder;
  color: rgb(212, 209, 176);
  padding: .75rem 1.5rem;
  cursor: pointer;
  float: left;
}

.standard-button:after {
  content: "";
  clear: both;
  display: table;
}

.standard-button button:hover {
  border: 2px solid rgb(0, 0, 0);
}

.standard-button a{
  text-decoration: none;
  color: rgb(212, 209, 176);
}

.standard-button a:hover{
  color: rgb(212, 209, 176);
}

/*----------Standard HTML Elements ------->*/
a {
  color:rgb(12, 134, 165);
}

a:hover{
  color: blue;
}

h1 {
  font-size: 2em;
}

h2{
  font-size: 2.25em;
}

p{
  margin: 0;
  font-size: 1.75em;

  padding: 2.5vw;
}

@media screen and (0 < width < 850px) {
  p {
    font-size: 1em;
  }
}
