* {
  font-family: Helvetica, Calibri, sans-serif;
  text-align: center;
  --lightModeBackground: #cfcfcf;
  --lightModeBox1: #949494;
  --lightModeBox2: #9a9a9a;
  --lightModeBox3: #949494;
  --darkModeBackground: #111113;
  --darkModeBox1: #1d2544;
  --darkModeBox2: #1a372a;
  --darkModeBox3: #32213e;
  --buttonLight: black;
  --buttonDark: white;
  overflow-x: hidden;
}

/*----------Dark / Light Mode ------->*/
.dark {
  background-color: var(--darkModeBackground);
  color: white;

  .top-bar-container header {
    background-color: var(--darkModeBox);
  }
  
  .name-and-photo {
    background-color: var(--darkModeBackground);
  }

  .projects-section {
    background-color: var(--darkModeBox1);
  }

  .resume-section {
    background-color: var(--darkModeBox3);
  }

  .image-slider-container {
    background-color: var(--darkModeBox2);
  }

  .light-mode-button {
    filter: invert(0%);
  }

  .side-bar a, .logo {
    filter: invert(100%);
  }

  .standard-button {
    color: var(--buttonDark);
  }

  .link {
    color: var(--buttonDark);
  }
}

.light {
  background-color: var(--lightModeBackground);
  color: black;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.standard-button {
  margin: auto;
  border: 2px dashed black;
  background-color: transparent;
  border-radius: .5rem;
  font-weight: bolder;
  font-size: 1rem;
  color: var(--button);
  padding: .75rem 1.5rem;
  cursor: pointer;
  float: left;
}s

.standard-button button:hover {
  border: 2px solid black;
}

.standard-button a{
  text-decoration: none;
  color: var(--button);
}

.standard-button a:hover{
  color: var(--button);
}

.link {
  text-decoration: none;
  color: var(--buttonLight);
}
/*----------Standard HTML Elements ------->*/

a:hover{
  color: blue;
}

h1 {
  font-size: 2em;
}

h2{
  font-size: 2.25em;
}

p{
  margin: 0;
  font-size: 1.75em;

  padding: 2.5vw;
}

@media screen and (0 < width < 900px) {
  p {
    font-size: 1em;
  }
}
