.name-and-photo {
	background: var(--lightModeBackground);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.main-image img {
	width: 30%;
	border-radius: 100%;
	border: 0.2vw solid black;
}

.name {
	padding-top: 5vh;
	font-size: 2em;
	overflow: hidden;
}

.intro {
	max-width: 125ch;
	font-size: 0.75em;
}

@media screen and (height < 1100px) {
	.name-and-photo {
		height: auto;
	}
}

@media screen and (0 < width < 800px) {
	.main-image img {
		width: 50%;
	}

	.name {
		padding-top: 8vh;
		font-size: 1.5em;
	}

	.intro {
		width: 90vw;
	}
}

