.name-and-photo{
  background: var(--lightModeBackground);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main-image img{
  width: 25%;
  border-radius: 100%;
  border: .2vw solid black;
}

.name {
  padding-top: 5vh;
  font-size: 2.5em;
  overflow: hidden;
}

.intro {
  width: 125ch;
  overflow: hidden;
}

@media screen and (height < 1100px) {
  .name-and-photo{
    height: auto;
  }
}

@media screen and (0 < width < 900px) {
  .main-image img {
    width: 65vw;
  }

  .name{
    padding-top: 8vh;
    font-size: 2em;
  }

  .intro {
    width: 90vw;
  }

}